#about {
  background-color: #333;
  padding: 70px;
  border-radius: 30px;
}

.about_logo {
  width: 300px;
  display: block;
  padding-left: 40px;
  margin: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.image_card {
  height: 500px;
  margin: 50px;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.gallery-item {
  background-color: #333;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  text-align: center;
}

.gallery-item:hover {
  border-radius: 50% 20% / 10% 40%;
  transition: 200ms;
}

.gallery-item img {
  width: 100%;
  height: auto;
}

.description {
  padding: 15px;
  font-size: 16px;
  color: #fff;
}