:root {
    --background_color: #222;
    --taxt_color: #fff;
    --button_color: #f05252;
    --hover_btn_color: #e99595;
    --hover_taxt_color: #111;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background_color);
    color: var(--taxt_color);
    direction: rtl;
}

header {
    padding: 20px;
    text-align: center;
}

.logo {
    width: 100px;
    /* Adjust width as needed */
    height: auto;
    /* Maintain aspect ratio */
    margin-left: 20px;
    position: relative
}

nav.centered {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    /* Allow navigation to expand and fill remaining space */
}

nav a {
    color: var(--taxt_color);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
}

nav a.active {
    background-color: var(--button_color);
}

nav a:hover {
    background-color: var(--hover_btn_color);
    color: var(--hover_taxt_color);
}


h1 {
    font-size: 2em;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
}

main {
    padding: 50px;
}


footer {
    padding: 20px;
    text-align: center;
    background-color: #111;
}


.reviews {
    margin-bottom: 50px;
}

.review {
    background-color: #333;
    padding: 20px
}

.review p {
    font-style: italic;
    margin-bottom: 10px;
}

.review span {
    font-size: 0.8em;
    color: #ccc;
}

.contact {
    text-align: center;
}

.contact form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

.contact input,
.contact textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact textarea {
    height: 100px;
}

.contact button {
    background-color: var(--button_color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact button:hover {
    background-color: var(--hover_btn_color);
    color: var(--hover_taxt_color);
}