:root {
    --section_background_color: #333;
    --section_padding: 50px;
    --section_border-radius: 20px;
}

.about_workshop {
    background-color: var(--section_background_color);
    padding: var(--section_padding);
    margin-bottom: 20px;
    border-radius: var(--section_border-radius);
}

.about_workshop ul li {
    font-size: larger;
}

form {
    padding: var(--section_padding);
    background-color: var(--section_background_color);
    border-radius: var(--section_border-radius);

}

.cont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(490px, 1fr));
    gap: 20px;

}

.cont .from-input {
    width: 32%;
}

.cont .from-input input {
    display: none;
}

.cont .from-input label {
    width: 500px;
    height: 550px;
    display: inline-block;
    position: relative;
    border: 1px solid #363636;
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
    background: linear-gradient(to bottom, #333, #333 50%, #eee 75%, #333 75%);
}

.row {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

.wrapper {
    padding: 10px 10%;
}


.overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, #1c1c1c 70%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.overlay h3 {
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 80%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
}

.overlay p {
    padding: 10px;
}

.box:hover img {
    transform: scale(1.1);
}

.box img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.cont .from-input label:hover {
    border: 1px solid #fff;
    cursor: pointer;
}

.cont .from-input input:checked+label {
    border: 2px solid tomato;

}